body{
    width: 1440px;
    margin: 0 auto;
}
.container-header-hero{
    background-image: url('../images/bg-hero-desktop.svg');
    background-repeat: no-repeat;
    background-position: top;
    background-color: hsl(193, 100%, 96%,1);
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px;
}
.header-btn{
    background-color: hsl(0deg 0% 100%);
}
a{
    text-decoration: none;
    color: hsl(208, 11%, 55%);
}
.btn{
    box-shadow: 2px 2px 8px 5px #f0f0f0;
    border-radius: 60px;
    padding: 16px 60px;
}

h1,h2,h3{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color:#18333c;
}
h1{
    font-size: 30px;
}
p,li,a{
 font-family: 'Poppins', sans-serif;
 font-size: 18px;
 font-weight: 400;
 color: #aaafb3;
}
h3{
    font-size: 35px;
}
.hero{
    padding: 60px;
    display: flex;
}
.hero-description{
    width: 40%;
}
.hero-description-btn, .advantages-start-btn{
    background-color: hsl(322, 100%, 66%);
    color: #f0f0f0;
    /* margin-top: 200px; */
}
.hero-image{
    width:700px;
}
.hero-image img{
    width: 100%;
}
.advantages article{
  border: 2px #f0f0f0 solid;
  border-radius: 30px;
  box-shadow: 2px 2px 8px 5px #f0f0f0;
  display: flex;
  justify-content: space-around;
  margin: 50px;
  padding: 40px;
}
.advantages article div{
    padding: 60px;
}
.advantages article img{
  width: 100%;  
}
article.advantages-start {
    flex-direction: column;
    align-items: center;
    width: 700px;
    margin: 0 auto;
    position: relative;
    top: 100px;
    z-index: 0;
}
.footer{
    background-color: #00252e;
    color: white;
}
.footer p,li{
    color: white;
}