:root{
    --rosado:hsl(322, 100%, 66%);
    --rosado-oscuro:hsl(322, 100%, 60%);
}
*{
    /* margin:0; */
    padding: 0;
}
body{
    margin: 0 auto;
    /* border: 1px blue solid; */
    min-width: 1500px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #aaafb3;
}
.container-header-hero{
    background-image: url('../images/bg-hero-desktop.svg');
    background-repeat: no-repeat;
    background-position: top;
    background-color: hsl(193, 100%, 96%,1);
    /* margin: 0 auto; */
    margin: inherit;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3.9em;
}
.header-btn{
    background-color: hsl(0deg 0% 100%);
}
.header-btn:hover{
    background-color: hsl(0deg 0% 98%);
}
a{
    text-decoration: none;
    color: hsl(208, 11%, 55%);
}
.btn{
    box-shadow: 2px 2px 8px 5px #f0f0f0;
    border-radius: 60px;
    padding: .9em 3.3em;
}

h1,h2,h3{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color:#18333c;
}
h1{
    font-size: 1.7em;
}

h3{
    font-size: 1.9em;
}
.hero{
    padding: 3.3em;
    display: flex;
}
.hero-description{
    width: 40%;
}
.hero-description-btn, .advantages-start-btn{
    background-color: var(--rosado);
    color: #f0f0f0;
    /* margin-top: 200px; */
}
.hero-description-btn:hover, .advantages-start-btn:hover{
    background-color:var(--rosado-oscuro);
    color: #ffffff;
    /* margin-top: 200px; */
}
.hero-image{
    width:38.9em;
}
.hero-image img{
    width: 100%;
}
.advantages{
    margin: inherit;
}
.advantages article{
  border: 2px #f0f0f0 solid;
  border-radius: 30px;
  box-shadow: 2px 2px 8px 5px #f0f0f0;
  display: flex;
  justify-content: space-around;
  margin: 2.8em;
  padding: 2.2em;
}
.advantages article div{
    padding: 3.3em;
}
.advantages article img{
  width: 100%;  
}
article.advantages-start {
    flex-direction: column;
    align-items: center;
    width: 700px;
    margin: 0 auto;
    position: relative;
    top: 5.6em;
    box-shadow: 0px -8px 40px -36px;
    background: white;
}
.footer{
    background-color: #00252e;
    color: white;
    padding: 8.3em 3.3em 3.3em 3.3em;
    margin: inherit;
}
.footer p,li{
    color: white;
}
.footer-container{
    display: flex;
    justify-content: space-around;
}
.footer-container-grid-one{
    width: 345px;
}
.footer-container-grid-one-wrapperlogo{
    margin-left: 0;
}
.footer-container-grid-one-wrapperlogo-logo{
    filter:grayscale(50%);
}
.footer-container-grid-one p::before{
    display: inline-block;
    position: relative;
    content: ' ';
    width: 1em;
    height: 1.3em;
    background-size: 1em;
    background-repeat: no-repeat;
    padding-left: 0.8em;
    top: .5em;
}
.footer-grid-one-location::before{
    background-image: url(../images/icon-location.svg);
}
.footer-grid-one-phone::before{
    background-image: url(../images/icon-phone.svg);
}
.footer-grid-one-email::before{
    background-image: url(../images/icon-email.svg);
}
.footer-container ul{
    list-style: none;
    line-height: 3.2em;
}
.footer-container-icons a:before{
    font-size: xx-large;
    border: 3px white solid;
    border-radius: 100px;
    padding: 0.6em 0.6em;
    margin: 0.4em;
    color: white;
}
.footer-container-icons a.fa-facebook-f:before{
    padding: 0.6em 0.85em;
}
.footer-container-grid-two,.footer-container-grid-three{
    padding-top: 2.39em;
}
.footer-container-icons{
    padding-top: 4.4em;
}
.footer-container-icons figure{
    margin: 0;
}
.footer-copyrigth{
    display:flex;
    justify-content: space-between;
    padding:0 8.1em;
}
.footer-copyrigth a{
    color: hsl(322, 100%, 66%);
}

.container{
    width: 1440px;
    /* border: 1px solid red; */
    margin: inherit;
    display: inherit;
    align-items: inherit;
    flex-direction: inherit;
}
/* Responsive */

@media (max-width: 1440px) {
    .container {
      /* width:100vw; */
      margin: 0;
    }
  }