:root{
    --rosado:hsl(322, 100%, 66%);
    --rosado-oscuro:hsl(322, 100%, 60%);
}
*{
    margin:0;
    padding: 0;
}
body{
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color:hsl(191deg 36% 22%);
}
.container-background-header-hero{
    background-image: url('../images/bg-hero-desktop.svg');
    background-repeat: no-repeat;
    background-position: top;
    background-color: hsl(193, 100%, 96%,1);
    margin: inherit;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3.9em;
    padding-bottom: 1em;
}
.header .Wrapper-logo img{
    max-width: 10em;
}
.header-btn{
    background-color: hsl(0deg 0% 100%);
}
.header-btn:hover{
    background-color: hsl(0deg 0% 98%);
}
a{
    text-decoration: none;
    color: hsl(208, 11%, 55%);
}
.btn{
    box-shadow: 2px 2px 8px 5px #f0f0f0;
    border-radius: 60px;
    padding: .7em 2.1em;
}

h1,h2,h3{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color:#18333c;
}
h1{
    font-size: 2.1em;
}

h3{
    font-size: 1.9em;
}

.hero{
    padding: 3.3em;
    display: flex;
    justify-content: space-between;
}
.hero-description{
    width: 45%;
}
.hero-description p{
    padding: 2em 0;
}
.hero-description-btn, .advantages-start-btn{
    background-color: var(--rosado);
    color: #ffffff;
}
.hero-description-btn:hover, .advantages-start-btn:hover{
    background-color:var(--rosado-oscuro);
    color: #f0f0f0;
}
.hero-image{
    width:48%;
}
.hero-image img{
    width: 100%;
}
.advantages article{
  display: flex;
  justify-content: space-around;
  align-items:center;
  border: 2px #f0f0f0 solid;
  border-radius: 30px;
  box-shadow: 2px 2px 8px 5px #f0f0f0;
  margin: 2.8em;
  padding: 2.2em;
}
.advantages-description{
    padding: 3.3em;
    display:flex;
    flex-direction:column;
    justify-content: space-evenly;
}
.advantages article img{
  width: 80%;  
}
article.advantages-start {
    flex-direction: column;
    width: 39em;
    max-width:85%;
    height:9em;
    margin: 0 auto;
    position: relative;
    top: 5.6em;
    box-shadow: 0px -8px 40px -36px;
    background: white;
}
.footer{
    background-color: #00252e;
    color: white;
    padding: 8.3em 3.3em 3.3em 3.3em;
    margin: inherit;
}
.footer p,li{
    color: white;
}
.footer-container{
    display: flex;
    justify-content: space-around;
}
.footer-container-grid-one{
    width: 345px;
}
.footer-container-grid-one-wrapperlogo{
    margin-left: 0;
}
.footer-container-grid-one-wrapperlogo-logo{
    filter:grayscale(50%);
}
.footer-container-grid-one p::before{
    display: inline-block;
    position: relative;
    content: ' ';
    width: 1em;
    height: 1.3em;
    background-size: 1em;
    background-repeat: no-repeat;
    padding-left: 0.8em;
    top: .5em;
}
.footer-grid-one-location::before{
    background-image: url(../images/icon-location.svg);
}
.footer-grid-one-phone::before{
    background-image: url(../images/icon-phone.svg);
}
.footer-grid-one-email::before{
    background-image: url(../images/icon-email.svg);
}
.footer-container ul{
    list-style: none;
    line-height: 3.2em;
}
.footer-container-icons a:before{
    font-size: xx-large;
    border: 3px white solid;
    border-radius: 100px;
    padding: 0.6em 0.6em;
    margin: 0.4em;
    color: white;
}
.footer-container-icons a.fa-facebook-f:before{
    padding: 0.6em 0.85em;
}
.footer-container-grid-two,.footer-container-grid-three{
    padding-top: 2.39em;
}
.footer-container-icons{
    padding-top: 4.4em;
}
.footer-container-icons figure{
    margin: 0;
}
.footer-copyrigth{
    display:flex;
    justify-content: space-between;
    padding:0 8.1em;
}
.footer-copyrigth a{
    color: hsl(322, 100%, 66%);
}

.container{
    max-width: 1400px;
    width:100%;
    /* border: 1px solid red; */
    margin:0 auto;
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
    flex-direction: inherit;
}

/*Responsive*/

@media screen and (max-width: 1024px) {
    .container /*.header, .hero, .advantages*/{
        font-size: 14px;
    }
}

@media screen and (max-width: 767px) {
    .header{
        padding:0;
   }
    .container{
        margin:1.5em auto;
        width:95%;
    }
    .hero{
        padding: 1.8em;
    }
    .hero .container{
        flex-wrap: wrap;
        text-align: center;
    }
    .hero-description,.hero-image{
        width: 100%;
        flex-shrink: 0;
        padding:2em 0;
    }
    .hero-description-btn{
        display:inherit;
        width:70%;
        margin: 0 auto;
    }
    .advantages article{
        flex-wrap: wrap;
        flex-direction: column-reverse;
        padding:1em 0;
        margin: 3.5em 0;
    }
    .advantages-description{
        text-align: center;
        padding: 2em;
    } 
    .advantages figure{
        text-align: center;
    }
    .advantages article img{
        width: 60%;  
      }
    .advantages-description h3{
        margin-bottom: 1em;
    }
    article.advantages-flowing{
        flex-direction: initial;
    }
    article.advantages-start {
        flex-direction: column;
        margin: 0 auto;
        text-align: center;
    }
    .advantages-start h3{
        font-size: 1.4em;
    }
}
@media screen and (max-width: 480px) {
    .container{
        font-size: 12px;
    }
}
@media screen and (max-width: 320px) {
    .container{
        font-size: 9px;
    }
}